.slider {
  background-color: #d3e3fe;
  width: 1440px;
  height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  margin: 0 auto;
}

.slide img {
  height: 500px;
}

.imgWrapper {
  /* background-color: red; */
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}

.slide {
  /* background-color: blue; */
  /* width: 400px; */
  opacity: 0;
  /* display: none; */
  display: flex;
  gap: 80px;
  transition-duration: 1s ease-out;
  margin: 0 auto;
  width: 800px;
}

.active {
  position: absolute;
  /* display: flex; */
  visibility: visible;
  opacity: 1;
  transition-duration: 1s;
  /* transform: scale(1.08); */
  left: 50%;
  transform: translateX(-50%);
}

.text {
  /* background-color: red; */
  width: 500px;
  /* position: absolute; */
  /* top: 150px; */
  /* right: 160px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s;
}

.activeDot {
  background-color: rgb(109, 109, 109);
}

.text p {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}

.text h1 {
  font-size: 70px;
  line-height: 60px;
  transition: all 0.3s;
}

.text a {
  text-decoration: none;
  color: #fff;
  background-color: #2577fd;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  display: block;
  width: 140px;
  text-align: center;
}
